body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #d4d4d4;
  padding: 16px;
  margin: 16px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #848587;
  margin: 20px;
  padding: 12px;
}

h1 {
  margin: 5px;
}